h1, h2, p {
color: #0061ae;
    text-align: left
        font style:2em "Open Sans", sans-serif;
        font size: 24px;
       font-weight: 300;
}
body {
    background-attachment: fixed;
    background-image: url(splash_photo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    